@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

body {
    background-color: #193454;  
    margin: 2em 18em; 
}

.formularioDeCalculoMulta {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    color: white;
}

.formulario{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    height: 15em;
    
}

.tituloFormulario {
    margin-bottom: 2em ;
}

input, select{
    color: #e3e9f0;
    background-color: #2a486d;
    border: 1px #e3e9f0 solid;
    padding: .5em 1em;
    border-radius: .7em;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}

h2 {
    font-weight: 500;
    text-align: center;
}

.botoes{
    width: 42em;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 3em;
}

.calcular-botao {
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
    outline: 0;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Montserrat', sans-serif;
    touch-action: manipulation;
    font-size: 1em;
    border: 1px solid white;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 1em;
    padding: .5em 1em;
}

.calcular-botao:after{

    content: "";
    background-color: #2a486d;
    border-radius: 1em;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 8px;
    transition: 0.2s;
}

.calcular-botao:hover:after {
    top: 0px;
    left: 0px;
}

.resultados {
    display: none;
    color: white;
}

.logoAzulBranco {
    width: 30%;
}

.labelRef {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label { 
    margin-right: .1em;
}

.refCC {
    width: 8em;
}

.infos, .infosDate {
    display: flex;
}

.infos {
    padding: .5em;
}

.sectionResultados{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

span {
    margin-right: 1em;
}