@media screen and (min-width: 100px) and (max-width: 320px) {
	.imageLogo{
        width: 80%;
    }

    h1 {
        font-size: 140%;
    }

    nav{
        
        width: 60%;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
	.imageLogo{
        width: 80%;
    }

    h1 {
        font-size: 160%;
    }

    nav{
        
        width: 60%;
    }

    a{
        padding: .3em 1.1em;
    }
}